name: Lint Files

on:
  push:
    branches-ignore:
      - main
      # - dev

jobs:
  lint-client:
    name: Lint Client
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3
      - name: Use NodeJS v22.16.0
        uses: actions/setup-node@v3
        with:
          node-version: 22.16.0
      - name: Install Dependencies
        run: |
          cd client
          npm install
      - name: Lint
        run: |
          cd client
          npm run lint